@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@-webkit-keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@-webkit-keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@-webkit-keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

@keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

.templateBlog article {
  margin: 0 0 30px; }

.templateBlog .page-heading {
  text-align: center;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 45px; }

.templateBlog .article-body, .templateBlog .article-item {
  display: flex;
  flex-direction: column;
  height: 100%; }

.templateBlog .article-header {
  margin-bottom: 17px; }

.templateBlog .release-info {
  font-size: var(--body-font-size);
  color: #a4a4a4;
  line-height: 19.1px;
  font-weight: 400;
  margin-bottom: 5px; }

.templateBlog .article-title {
  font-weight: 600;
  line-height: 24.55px;
  margin: 0 0 14px;
  font-family: var(--ff-body); }

.templateBlog .article-excerpt {
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px; }

.templateBlog .article-button {
  margin-top: auto;
  max-width: 200px;
  width: 100%; }

.templateBlog .article-button a {
  padding: 7px 5px;
  width: 100%; }

.templateBlog .second-row {
  margin-top: 10px;
  padding-top: 40px;
  border-top: 1px solid var(--body-border-color); }

.templateArticle .boxed-wrapper #main-content {
  margin-top: 0; }

.templateArticle .article-main-page {
  margin-top: 40px; }

.templateArticle .article-sidebar {
  margin-top: 30px; }

@media (min-width: 768px) {
  .templateArticle .article-sidebar {
    margin-top: 0; } }

.templateArticle .article-sidebar > div:not(:last-child) {
  margin: 0 0 30px; }

.templateArticle .article-sidebar .form-search, .templateArticle .article-sidebar .form-search-container {
  position: relative; }

.templateArticle .article-sidebar .form-search input {
  width: 100%; }

.templateArticle .article-sidebar .form-search button {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; }

.templateArticle .article-sidebar .form-search button svg {
  stroke: var(--body-link); }

.templateArticle .article-sidebar .sb-recent-post .sb-recent-post-title {
  margin-bottom: 15px; }

.templateArticle .article-sidebar .sb-recent-post .sb-recent-post-title h5 {
  line-height: 21.82px;
  font-weight: 700;
  font-family: var(--ff-body); }

.templateArticle .article-sidebar .sb-recent-post .article-item {
  display: flex; }

.templateArticle .article-sidebar .sb-recent-post .article-item:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--body-border-color); }

.templateArticle .article-sidebar .sb-recent-post .article-header {
  flex: 0 0 104px; }

.templateArticle .article-sidebar .sb-recent-post .article-body {
  -webkit-margin-start: 12px;
  margin-inline-start: 12px; }

.templateArticle .article-sidebar .sb-recent-post .article-body .article-title {
  font-size: var(--body-font-size);
  line-height: 19.1px;
  margin: 0 0 4px;
  font-weight: 600;
  font-family: var(--ff-body); }

.templateArticle .article-sidebar .sb-recent-post .article-body .release-info {
  font-size: calc(var(--body-font-size) - 2px);
  line-height: 16.37px;
  color: #a4a4a4; }

.templateArticle .article-sidebar .sb-tag .sb-title {
  margin: 0 0 15px;
  font-size: calc(var(--body-font-size) + 2px);
  font-weight: 700;
  line-height: 21.82px;
  text-transform: uppercase;
  color: var(--body-link);
  font-family: var(--ff-body); }

.templateArticle .article-sidebar .sb-tag ul {
  margin: 0 -4px;
  display: flex; }

.templateArticle .article-sidebar .sb-tag ul li {
  list-style: none;
  padding: 0 4px; }

.templateArticle .article-sidebar .sb-tag ul li a {
  border: 1px solid var(--body-border-color);
  padding: 5px 10px;
  display: block; }

.templateArticle .article-heading {
  margin: 0 0 20px; }

.templateArticle .page-title {
  line-height: 36px;
  font-weight: 600; }

.templateArticle .release-info {
  line-height: 19.1px;
  color: #a4a4a4; }

.templateArticle .article-body strong {
  color: var(--body-link); }

.templateArticle .article-body p {
  margin: 0 0 20px; }

.templateArticle .relate-article {
  border-top: 1px solid var(--body-border-color);
  padding-top: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.templateArticle .relate-article > div {
  padding: 0; }

.templateArticle .relate-article .prev-article {
  -webkit-padding-end: 15px;
  padding-inline-end: 15px; }

.templateArticle .relate-article .next-article {
  -webkit-padding-start: 15px;
  padding-inline-start: 15px; }

@media (min-width: 768px) {
  .templateArticle .relate-article .article-item {
    display: flex;
    align-items: center; } }

@media (min-width: 768px) {
  .templateArticle .relate-article .article-header {
    flex: 0 0 104px; } }

.templateArticle .relate-article .article-relate-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 19.1px;
  margin-bottom: 15px; }

.templateArticle .relate-article .article-body {
  padding-top: 12px;
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

@media (min-width: 768px) {
  .templateArticle .relate-article .article-body {
    padding-top: 0;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px; } }

.templateArticle .relate-article .article-body .article-title {
  line-height: 19.1px;
  font-weight: 600;
  font-size: var(--body-font-size);
  margin: 0 0 4px;
  font-family: var(--ff-body); }

.templateArticle .relate-article .article-body .release-info {
  font-size: calc(var(--body-font-size) - 2px);
  line-height: 16.37px;
  color: #a4a4a4; }

.templateArticle .relate-article .next-article {
  text-align: end; }

.templateArticle .relate-article .next-article .article-item {
  justify-content: flex-end; }

@media (min-width: 768px) {
  .templateArticle .relate-article .next-article .article-header {
    order: 2; } }

@media (min-width: 768px) {
  .templateArticle .relate-article .next-article .article-body {
    order: 1;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px; } }

.templateArticle .article-bottom {
  border-top: 1px solid var(--body-border-color);
  padding-top: 20px;
  margin-top: 30px; }

.templateArticle .article-bottom h4 {
  font-weight: 700;
  line-height: 24.55px;
  font-family: var(--ff-body); }

.templateArticle .article-bottom ul {
  margin: 20px 0; }

.templateArticle .article-bottom ul li {
  list-style: none; }

.templateArticle .article-bottom ul li .comment-author {
  margin: 0 0 2px;
  color: var(--body-link);
  line-height: 19.1px;
  font-weight: 600; }

.templateArticle .article-bottom ul li .comment-date {
  font-size: calc(var(--body-font-size) - 2px);
  line-height: 16.37px;
  color: #a4a4a4; }

.templateArticle .article-bottom ul li .comment {
  line-height: 21px; }

.templateArticle .article-bottom ul li .comment p {
  margin: 0 0 15px; }

.templateArticle .article-bottom ul li .comment p:last-child {
  margin: 0; }

.templateArticle #comment-form h5 {
  color: var(--main-color);
  line-height: 21.82px;
  font-weight: 600;
  margin: 0 0 8px;
  font-family: var(--ff-body); }

.templateArticle #comment-form p {
  margin: 0 0 18px;
  font-size: calc(var(--body-font-size) - 2px);
  line-height: 16.37px;
  color: #a4a4a4; }

.templateArticle #comment-form .form-row {
  margin: 0 0 25px; }

.templateArticle #comment-form .form-row label {
  display: block;
  color: var(--body-link);
  line-height: 19.1px;
  margin: 0 0 8px; }

.templateArticle #comment-form .form-row input {
  width: 100%; }

.templateArticle #comment-form .form-button {
  display: block;
  text-align: end; }

.templateArticle #comment-form .form-button button {
  max-width: 224px;
  width: 100%; }

.templateArticle #comment-form .form-button p {
  margin: 15px 0 0; }
