@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@-webkit-keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@-webkit-keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@-webkit-keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

@keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

.templateCollection .boxed-wrapper #main-content {
  margin-top: 0; }

.home-brand-logo {
  margin-top: 30px; }

.filter-sidebar--active {
  overflow: hidden; }

@media (max-width: 767px) {
  .filter-sidebar--active .boxed-wrapper:after {
    z-index: 99;
    visibility: visible;
    opacity: 1; }
  .filter-sidebar--active .collection-sidebar {
    transform: translate(0); } }

@media (max-width: 767px) {
  .collection-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    background: var(--body-bg-color);
    padding: 20px;
    z-index: 100;
    transform: translate(-100%);
    transition: all .5s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto; }
  .collection-sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #d0d0d0;
    -webkit-box-shadow: inset 0 0 #d0d0d0;
    background-color: #d0d0d0;
    border-radius: 5px; }
  .collection-sidebar::-webkit-scrollbar {
    width: 4px;
    background-color: #d0d0d0;
    border-radius: 5px; }
  .collection-sidebar::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px; } }

.collection-sidebar .collection-filter-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.collection-sidebar .collection-filter-title h3 {
  font-size: calc(var(--body-font-size) + 2px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  font-family: var(--ff-body); }

.collection-sidebar .collection-filter-title .filter-toggle {
  cursor: pointer; }

@media (min-width: 768px) {
  .collection-sidebar .collection-filter-title .filter-toggle {
    display: none; } }

.collection-sidebar .collection-filter-title .filter-toggle svg path {
  fill: var(--body-link); }

.collection-sidebar .collection-filter:not(:last-child):not(:empty) {
  border-bottom: 1px solid var(--body-border-color);
  padding-bottom: 20px;
  margin-bottom: 20px; }

.collection-sidebar .collection-filter .filter-title {
  font-size: calc(var(--body-font-size) + 2px);
  font-weight: 400;
  line-height: 20px;
  color: #1c1c1c;
  margin-bottom: 15px;
  font-family: var(--ff-body); }

.collection-sidebar .collection-filter ul li {
  list-style: none;
  position: relative; }

.collection-sidebar .collection-filter ul li:not(:last-child) {
  margin-bottom: 15px; }

.collection-sidebar .collection-filter ul li a {
  -webkit-padding-start: 32px;
  padding-inline-start: 32px;
  line-height: 19.1px;
  display: block; }

.collection-sidebar .collection-filter ul li:after {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10'%3E%3Cpath fill='%23fff' d='M12 1.741L4.267 10 0 5.427l1.633-1.739L4.27 6.515 10.37 0 12 1.741z'/%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%); }

.collection-sidebar .collection-filter ul li:not(.filter-color):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--body-border-color);
  transform: translateY(-50%); }

.collection-sidebar .collection-filter ul li:not(.filter-color):after {
  left: 4px; }

.collection-sidebar .collection-filter ul li:not(.filter-color).active:before {
  border-color: var(--main-color);
  background: var(--main-color); }

.collection-sidebar .collection-filter ul li.filter-color:before {
  content: "";
  background: currentColor;
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.collection-sidebar .collection-filter ul li.filter-color:after {
  left: 5px; }

.collection-sidebar .collection-filter ul li.filter-color a {
  background: var(--body-bg-color); }

.collection-sidebar .collection-filter ul li.filter-color.c-white:after {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10'%3E%3Cpath fill='gray' d='M12 1.741L4.267 10 0 5.427l1.633-1.739L4.27 6.515 10.37 0 12 1.741z'/%3E%3C/svg%3E"); }

.collection-sidebar .collection-filter ul li.filter-color.c-white:before {
  border: 1px solid var(--body-border-color); }

.collection-sidebar .collection-filter ul li.active:after {
  visibility: visible;
  opacity: 1; }

.collection-sidebar .collection-filter ul li.active a {
  color: var(--body-link-hover); }

.section-collection-template {
  margin-top: 40px; }

.section-collection-template .no-products {
  margin: 20px; }

.section-collection-template #col-main > .row {
  margin: 0;
  position: relative; }

.section-collection-template #col-main > .row:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--body-border-color);
  z-index: -1; }

.section-collection-template .product-section {
  padding: 0; }

.section-collection-template .product-card-list {
  display: flex; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list {
    padding: 15px 9px; } }

.section-collection-template .product-card-list .product-card__header {
  flex: 0 0 100px;
  margin-bottom: 0; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list .product-card__header {
    flex: 0 0 147px; } }

.section-collection-template .product-card-list .product-card__body {
  flex: 1;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list .product-card__body {
    -webkit-padding-start: 35px;
    padding-inline-start: 35px; } }

.section-collection-template .product-card-list .spr-badge {
  margin-bottom: 13px; }

.section-collection-template .product-card-list .product-price {
  font-size: calc(var(--card-price) + 2px); }

.section-collection-template .product-card-list .product-price .price-compare {
  font-size: calc(var(--card-price-compare) + 2px); }

.section-collection-template .product-card-list .product-short-description {
  font-size: var(--body-font-size);
  line-height: 19.5px;
  margin: 0 0 20px; }

.section-collection-template .product-card-list .product-bottom {
  display: flex; }

.section-collection-template .product-card-list .product-bottom > div:not(:last-child), .section-collection-template .product-card-list .product-bottom button {
  -webkit-margin-end: 8px;
  margin-inline-end: 8px; }

.section-collection-template .product-card-list .product-bottom .product-cart-form {
  max-width: 224px;
  width: 100%; }

.section-collection-template .product-card-list .product-bottom .product-cart-form .add-to-cart {
  width: 100%;
  padding: 7px 0; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list .product-bottom .product-cart-form .add-to-cart {
    padding: 13px 10px; } }

@media (hover: hover) {
  .section-collection-template .product-card-list .product-bottom .product-cart-form .add-to-cart:hover .svg__ui path {
    stroke: var(--btn1-hover-cl); } }

.section-collection-template .product-card-list .product-bottom .product-cart-form .add-to-cart .text {
  display: none; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list .product-bottom .product-cart-form .add-to-cart .text {
    display: block; } }

.section-collection-template .product-card-list .product-bottom .product-cart-form .svg__ui {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list .product-bottom .product-cart-form .svg__ui {
    display: none; } }

.section-collection-template .product-card-list .product-bottom .product-cart-form .svg__ui path {
  stroke: var(--btn1-cl); }

.section-collection-template .product-card-list .product-bottom > button {
  border: 1px solid var(--body-border-color);
  padding: 0;
  min-width: 46px;
  min-height: 44px; }

.section-collection-template .product-card-list .product-bottom > button .svg__ui {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.section-collection-template .product-card-list .product-bottom > button circle, .section-collection-template .product-card-list .product-bottom > button path {
  stroke: var(--body-link); }

@media (hover: hover) {
  .section-collection-template .product-card-list .product-bottom > button:hover {
    color: var(--btn1-cl);
    background: var(--btn1-bg-cl);
    border-color: var(--btn1-border-cl); }
  .section-collection-template .product-card-list .product-bottom > button:hover circle, .section-collection-template .product-card-list .product-bottom > button:hover path {
    stroke: var(--btn1-cl); } }

.section-collection-template .product-card-list .product-bottom .product-card--compare .wlcp-target-label, .section-collection-template .product-card-list .product-bottom .product-card--wishlist .wlcp-target-label {
  display: none; }

.section-collection-template .product-card-list .product-bottom .product-card--compare > a, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a {
  border: 1px solid var(--body-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  height: 100%;
  transition: none; }

@media (min-width: 576px) {
  .section-collection-template .product-card-list .product-bottom .product-card--compare > a, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a {
    min-width: 46px;
    min-height: 46px; } }

.section-collection-template .product-card-list .product-bottom .product-card--compare > a .svg__ui, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a .svg__ui {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

@media (max-width: 575px) {
  .section-collection-template .product-card-list .product-bottom .product-card--compare > a svg, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a svg {
    width: 20px;
    height: 20px; } }

.section-collection-template .product-card-list .product-bottom .product-card--compare > a.arn_added, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a.arn_added {
  color: var(--btn1-cl);
  background: var(--btn1-bg-cl);
  border-color: var(--btn1-border-cl); }

.section-collection-template .product-card-list .product-bottom .product-card--compare > a.arn_added path, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a.arn_added path {
  stroke: var(--btn1-cl); }

@media (hover: hover) {
  .section-collection-template .product-card-list .product-bottom .product-card--compare > a:hover, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a:hover {
    color: var(--btn1-cl);
    background: var(--btn1-bg-cl);
    border-color: var(--btn1-border-cl); }
  .section-collection-template .product-card-list .product-bottom .product-card--compare > a:hover path, .section-collection-template .product-card-list .product-bottom .product-card--wishlist > a:hover path {
    stroke: var(--btn1-cl); } }

.section-collection-template .product-card-list .product-bottom .product-card--compare path {
  stroke: initial;
  fill: var(--body-link); }

.section-collection-template .product-card-list .product-bottom .product-card--compare > a.arn_added path {
  stroke: initial;
  fill: var(--btn1-cl); }

@media (hover: hover) {
  .section-collection-template .product-card-list .product-bottom .product-card--compare > a:hover path {
    stroke: initial;
    fill: var(--btn1-cl); } }

.section-collection-template .product-card-list .product-bottom .btn-quick-view {
  display: none; }

@media (min-width: 1025px) {
  .section-collection-template .product-card-list .product-bottom .btn-quick-view {
    display: block; } }

.collection-toolbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; }

.collection-toolbar-inner .toolbar_view-list {
  display: flex;
  align-items: center;
  justify-content: center; }

.collection-toolbar-inner .toolbar_view-list li {
  list-style: none; }

.collection-toolbar-inner .toolbar_view-list li:not(:last-child) {
  -webkit-margin-end: 12px;
  margin-inline-end: 12px; }

.collection-toolbar-inner .toolbar_view-list li a {
  width: 36px;
  height: 36px;
  border: 1px solid var(--body-border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.collection-toolbar-inner .toolbar_view-list li a svg path {
  fill: var(--body-link); }

.collection-toolbar-inner .toolbar_view-list li a.active {
  background: var(--btn1-bg-cl);
  border-color: var(--btn1-border-cl); }

.collection-toolbar-inner .toolbar_view-list li a.active svg path {
  fill: var(--btn1-cl); }

.collection-toolbar-inner .toolbar_view-list li .svg__ui {
  display: flex;
  align-items: center;
  justify-content: center; }

.collection-toolbar-inner .toolbar_view-list li .filter-toggle {
  cursor: pointer; }

.collection-toolbar-inner .collection-page-view {
  flex: 1;
  padding: 0 15px;
  text-align: center;
  display: none; }

@media (min-width: 768px) {
  .collection-toolbar-inner .collection-page-view {
    display: block; } }

.collection-toolbar-inner .collection-page-view p {
  margin: 0; }

.collection-toolbar-inner .collection-sort {
  position: relative; }

.collection-toolbar-inner .collection-sort > a {
  color: var(--body-link);
  font-size: var(--body-font-size);
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center; }

.collection-toolbar-inner .collection-sort > a svg path {
  stroke: var(--body-link); }

.collection-toolbar-inner .collection-sort > a .expand {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
  transform: rotate(180deg); }

.collection-toolbar-inner .collection-sort > ul {
  position: absolute;
  left: auto;
  top: 100%;
  right: 0;
  background: var(--body-bg-color);
  z-index: 1;
  min-width: 200px;
  padding: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: mmfadeIn .5s ease-in-out;
  animation: mmfadeIn .5s ease-in-out;
  visibility: hidden;
  opacity: 0; }

.collection-toolbar-inner .collection-sort > ul li {
  list-style: none;
  padding: 5px 15px; }

.collection-toolbar-inner .collection-sort > ul li.active > a {
  color: var(--body-link-hover); }

.collection-toolbar-inner .collection-sort.active ul {
  visibility: visible;
  opacity: 1; }

@media (hover: hover) {
  .collection-toolbar-inner .collection-sort:hover > a {
    color: var(--body-link-hover); }
  .collection-toolbar-inner .collection-sort:hover > a svg path {
    stroke: var(--body-link-hover); }
  .collection-toolbar-inner .collection-sort:hover > ul {
    visibility: visible;
    opacity: 1; } }
