@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@-webkit-keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@-webkit-keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@-webkit-keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

@keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

.page-404 .page-text-content h2 {
  margin-bottom: 20px; }

.page-404 .page-text-content p {
  font-size: calc(var(--body-font-size) + 2px);
  line-height: calc(var(--body-font-size) + 2px);
  margin: 0 0 15px; }

.page-404 .page-text-content p a {
  -webkit-margin-start: 7px;
  margin-inline-start: 7px; }

.page-404 .page-text-content p:last-child {
  margin-bottom: 0; }

.templatePage .page-content ul {
  margin: 17px 0 0; }

@media (min-width: 992px) {
  .templatePage .page-content ul {
    -webkit-padding-start: 44px;
    padding-inline-start: 44px; } }

.templatePage .page-content ul li {
  line-height: 26.6px; }

.templatePage .page-content ul li a {
  color: var(--main-color); }

.templatePage .page-content p {
  margin: 17px 0 0; }

#shopify-section-about-template {
  margin-bottom: -60px; }

.home-about-page .group-large-image > div {
  margin-bottom: 80px; }

.home-about-page .group-large-image .block-type-image {
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .home-about-page .group-large-image .block-type-image {
    padding-bottom: 0; } }

.home-about-page .text-1 {
  line-height: 21.82px; }

.home-about-page .text-1 p {
  margin: 0 0 4px; }

.home-about-page .text-2 {
  line-height: 33.6px;
  font-family: var(--ff-heading); }

.home-about-page .text-2 p {
  margin: 0 0 8px; }

.home-about-page .text-3 {
  line-height: 22.4px; }

.home-about-page .text-3 p {
  margin: 0 0 8px; }

.home-about-page .group-icon-gallery {
  text-align: center;
  margin-bottom: 30px; }

.home-about-page .group-icon-gallery .group-icon-gallery-title {
  margin-bottom: 40px; }

.home-about-page .group-icon-gallery h3 {
  line-height: 36px; }

.home-about-page .group-icon-gallery .block-icon {
  padding-bottom: 50px; }

.home-about-page .group-icon-gallery .block-icon .block-type-image {
  margin: 0 auto 20px; }

.home-about-page .group-icon-gallery .block-icon .text-1 {
  line-height: 21.82px;
  font-size: calc(var(--body-font-size) + 2px);
  color: var(--body-link);
  font-weight: 600;
  margin: 0 0 4px; }

.home-about-page .group-icon-gallery .block-icon .text-2 {
  line-height: 22.4px;
  font-family: var(--ff-body); }

.home-about-page .group-icon-gallery .block-icon .text-2 a {
  font-weight: 700; }

.home-about-page .group-icon-gallery .block-icon .text-2 p {
  margin: 0; }

.home-about-page .more-infor-container {
  text-align: center;
  padding: 60px 0; }

.home-about-page .more-infor-container .text-1 {
  line-height: 32px;
  letter-spacing: .2px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: var(--ff-heading); }

.home-about-page .more-infor-container .text-1 p {
  margin: 0; }

.home-about-page .more-infor-container .text-1 p:first-child {
  margin: 0 0 8px; }

.home-about-page .more-infor-container .text-2 {
  line-height: 19.1px;
  margin: 0 0 25px;
  font-weight: 400;
  font-family: var(--ff-body); }

.home-about-page .more-infor-container .text-2 p {
  margin: 0; }

.home-about-page .more-infor-container .social-media ul {
  display: flex;
  align-items: center;
  justify-content: center; }

.home-about-page .more-infor-container .social-media ul li:not(:last-child) {
  -webkit-padding-end: 28px;
  padding-inline-end: 28px; }

.home-contact-page .section-heading-container {
  text-align: center;
  margin-bottom: 20px; }

.home-contact-page .section-heading {
  line-height: 45px;
  color: var(--body-link);
  margin: 0 0 4px; }

.home-contact-page .section-subheading {
  margin: 0;
  line-height: 19.1px; }

.home-contact-page .leaflet-container {
  height: 455px; }

.home-contact-page .map-ui {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  z-index: 0; }

.home-contact-page .block-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32.74px;
  color: var(--body-link);
  margin-bottom: 20px; }

.home-contact-page .block-content {
  margin-bottom: 40px; }

.home-contact-page ul li {
  list-style: none;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .home-contact-page ul li {
    display: flex;
    align-items: flex-start; } }

.home-contact-page ul .infor-head {
  display: flex;
  align-items: center; }

@media (min-width: 768px) {
  .home-contact-page ul .infor-head {
    max-width: 130px;
    width: 100%; } }

.home-contact-page ul .infor-icon {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  display: flex; }

.home-contact-page ul .infor-icon svg path {
  fill: var(--body-link); }

.home-contact-page ul .infor-title {
  font-size: calc(var(--body-font-size) + 2px);
  line-height: 21.82px;
  font-weight: 700;
  color: var(--body-link); }

.home-contact-page ul .infor-detail {
  -webkit-margin-start: 35px;
  margin-inline-start: 35px;
  color: var(--body-link); }

@media (min-width: 768px) {
  .home-contact-page ul .infor-detail {
    -webkit-margin-start: 10px;
    margin-inline-start: 10px; } }

.home-contact-page ul .infor-detail p {
  margin: 0;
  line-height: 21.7px; }

.home-contact-page .contact-form .form-control {
  margin-bottom: 30px; }

.home-contact-page .contact-form label {
  display: block;
  line-height: 19.1px;
  color: var(--body-link);
  margin-bottom: 8px; }

.home-contact-page .contact-form input, .home-contact-page .contact-form textarea {
  width: 100%; }

.home-contact-page .contact-form .form-control-button {
  text-align: end; }

.home-contact-page .contact-form .form-control-button button {
  width: 100%;
  max-width: 224px;
  padding: 13px 15px; }

.home-contact-page .contact-form .alert-success {
  margin-bottom: 10px; }

.home-contact-page .contact-form .alert-success .close {
  display: none; }

.form-account {
  max-width: 674px;
  margin: 0; }

.form-account .form-control {
  margin: 0 0 15px; }

.form-account .form-control input {
  width: 100%; }

@media (max-width: 767px) {
  .customer-block#customerRegister {
    margin-top: 30px; } }

.customer-block .title {
  margin-bottom: 30px; }

.customer-block p {
  margin: 0 0 30px; }

.customer-block #loginForgotPassword {
  margin: 21px 0 0; }

.customer-block .form-control-button {
  margin-top: 20px; }

@media (min-width: 992px) {
  .customer-block .form-control-button {
    margin-top: 30px; } }

.customer-block .form-control-button .btn {
  -webkit-margin-end: 20px;
  margin-inline-end: 20px;
  margin-bottom: 15px; }

.customer-block .form-control-button .btn:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0; }

@media (min-width: 992px) {
  #customer_sidebar {
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-color: var(--body-border-color); } }

#customer_sidebar .title {
  margin-bottom: 25px; }

#customer_sidebar .email, #customer_sidebar .name {
  margin: 0 0 15px; }

#customer_sidebar .action-bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 0; }

#customer_sidebar .action-bottom .btn {
  margin-bottom: 15px;
  -webkit-margin-end: 15px;
  margin-inline-end: 15px; }

#customer_sidebar .action-bottom .btn:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0; }

@media (max-width: 1199px) and (min-width: 992px) {
  #customer_sidebar .action-bottom #view_address {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0; } }

#customer_orders p {
  margin: 0; }

#customer_orders .orders-heading {
  margin-bottom: 25px; }

.account-sidebar {
  margin-top: 30px; }

.account-sidebar .title {
  margin-bottom: 30px; }

.account-sidebar p {
  margin: 0; }

#customerAddAddress header h3, .edit_address header h3 {
  margin: 0 0 30px; }

#customerAddAddress .customer_address_table td, .edit_address .customer_address_table td {
  padding: 0 0 20px; }

@media (max-width: 479px) {
  #customerAddAddress .customer_address_table td, .edit_address .customer_address_table td {
    display: block;
    padding: 0 0 10px; } }

#customerAddAddress .customer_address_table td.value, .edit_address .customer_address_table td.value {
  padding: 0 0 20px; }

#customerAddAddress .customer_address_table td.value input[type=text], #customerAddAddress .customer_address_table td.value select, .edit_address .customer_address_table td.value input[type=text], .edit_address .customer_address_table td.value select {
  width: 100%; }

#customerAddAddress .customer_address_table .label label, .edit_address .customer_address_table .label label {
  display: block;
  margin: 0;
  font-size: calc(var(--body-font-size) + 2px);
  color: var(--section-heading-cl);
  -webkit-padding-end: 10px;
  padding-inline-end: 10px; }

#customerAddAddress .customer_address_table input[type=checkbox], .edit_address .customer_address_table input[type=checkbox] {
  height: auto;
  width: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto; }

#customerAddAddress .customer_address_table .set-default-address td, .edit_address .customer_address_table .set-default-address td {
  padding: 0;
  position: relative; }

#customerAddAddress .customer_address_table .set-default-address td input[type=checkbox], .edit_address .customer_address_table .set-default-address td input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

#customerAddAddress .customer_address_table .set-default-address td input[type=checkbox]:checked ~ span:after, .edit_address .customer_address_table .set-default-address td input[type=checkbox]:checked ~ span:after {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10'%3E%3Cpath fill='gray' d='M12 1.741L4.267 10 0 5.427l1.633-1.739L4.27 6.515 10.37 0 12 1.741z'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translateY(-50%); }

#customerAddAddress .customer_address_table .set-default-address td > span, .edit_address .customer_address_table .set-default-address td > span {
  display: flex;
  align-items: center; }

#customerAddAddress .customer_address_table .set-default-address td > span:before, .edit_address .customer_address_table .set-default-address td > span:before {
  content: "";
  display: block;
  background: #fff;
  border: 1px solid var(--body-border-color);
  border-radius: var(--border-radius-default);
  width: 20px;
  height: 20px;
  -webkit-margin-end: 7px;
  margin-inline-end: 7px; }

#customerAddAddress .customer_address_table .set-default-address td > span > span, .edit_address .customer_address_table .set-default-address td > span > span {
  flex: 1; }

#customerAddAddress .action_bottom, .edit_address .action_bottom {
  text-align: center;
  margin-top: 20px; }

#address_tables {
  margin: 30px 0 0; }

#address_tables p {
  margin: 0 0 15px; }

#address_tables .address_title {
  margin: 0 0 20px; }

#address_tables .view_address td {
  padding: 10px 0; }

#address_tables .view_address td.address-value {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px; }

#address_tables .address_actions .address-delete-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px; }

#address_tables .address_actions .btn {
  margin: 0 0 15px;
  -webkit-margin-end: 15px;
  margin-inline-end: 15px;
  display: block; }

#address_tables .address_actions .btn:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0; }

.orders-detail {
  border: 1px solid var(--body-border-color);
  overflow: hidden;
  overflow-x: auto; }

.orders-detail .orders-header {
  display: flex; }

.orders-detail .orders-header > div {
  color: var(--section-heading-cl);
  font-weight: 600;
  font-size: calc(var(--body-font-size) - 2px);
  padding: 20px;
  border-bottom: 1px solid var(--body-border-color);
  flex: 0 0 20%;
  max-width: 20%;
  min-width: 120px; }

.orders-detail .orders-header > div:not(:last-child) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--body-border-color); }

.orders-body .order-line {
  display: flex; }

.orders-body .order-line > div {
  padding: 20px;
  flex: 0 0 20%;
  max-width: 20%;
  min-width: 120px; }

.orders-body .order-line > div:not(:last-child) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--body-border-color); }

.orders-body .order-line > div > a {
  font-weight: 600; }

@media (min-width: 1025px) {
  .orders-body .order-line > div > a:hover {
    text-decoration: underline; } }

.orders-body .order-line > div .total {
  color: var(--section-heading-cl);
  font-family: var(--font-heading); }

.orders-body .order-line:not(:last-child) > div {
  border-bottom: 1px solid var(--body-border-color); }

#order_address {
  margin: 20px 0 0; }

@media (min-width: 768px) {
  #order_address {
    display: flex;
    margin-left: -15px;
    margin-right: -15px; }
  #order_address > div {
    width: 50%;
    padding: 0 15px; } }

#order_address #order_payment, #order_address #order_shipping {
  margin: 0 0 40px; }

#order_details {
  border: 1px solid var(--body-border-color); }

@media (max-width: 767px) {
  #order_details {
    display: block;
    overflow: hidden;
    overflow-x: auto; } }

#order_details tr th {
  color: var(--section-heading-cl);
  font-weight: 600;
  font-size: calc(var(--body-font-size) - 2px);
  padding: 20px;
  border-bottom: 1px solid var(--body-border-color); }

#order_details tr th:not(:last-child) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--body-border-color); }

#order_details tr td {
  padding: 20px; }

#order_details tbody td {
  border-bottom: 1px solid var(--body-border-color); }

#order_details tbody td:not(:last-child) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--body-border-color); }

@media (max-width: 767px) {
  #order_details tbody .product {
    min-width: 280px; } }

#order_details tbody .product .d-grid {
  align-items: center; }

#order_details tbody .product .product-title {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px; }

#order_details tbody .sku {
  white-space: nowrap; }

#order_details tbody .money {
  color: var(--section-heading-cl);
  font-family: var(--font-heading); }

#order_details tfoot tr {
  color: var(--section-heading-cl);
  font-weight: 600; }

#order_details tfoot tr .label {
  font-size: calc(var(--body-font-size) - 2px); }

#order_details tfoot tr.order_total .total {
  font-size: calc(var(--body-font-size) + 1px); }

#order_details tfoot tr td:not(:last-child) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--body-border-color); }

#order_details tfoot tr:not(:last-child) td {
  border-bottom: 1px solid var(--body-border-color); }

.templateCustomersOrder #main-content .page-heading {
  padding-bottom: 10px; }

@media (min-width: 768px) {
  .templateCustomersOrder #main-content .page-heading {
    padding-bottom: 42px; } }

.templateSearch .page-heading {
  text-align: center;
  margin-bottom: 30px; }

.templateSearch .page-heading h1 {
  margin-bottom: 30px; }

.templateSearch #main-content .form-search {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center; }

@media (min-width: 992px) {
  .templateSearch #main-content .form-search {
    max-width: 50%; } }

.templateSearch #main-content .form-search input {
  flex: 1;
  border: 2px solid var(--btn1-border-cl); }

.templateSearch #main-content .form-search button {
  padding: 7px 15px;
  color: var(--btn1-cl);
  background: var(--btn1-bg-cl);
  border: var(--btn1-border-width) solid var(--btn1-border-cl); }

.templateSearch #main-content .form-search button svg {
  stroke: var(--btn1-cl); }

.templateSearch #main-content .result-item {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--body-border-color); }

.templateSearch #main-content .result-item:last-child {
  border-bottom: none; }

.templateSearch #main-content .result-item .result-image {
  flex: 0 0 100px;
  -webkit-margin-end: 15px;
  margin-inline-end: 15px; }

@media (min-width: 992px) {
  .templateSearch #main-content .result-item .result-image {
    -webkit-margin-end: 30px;
    margin-inline-end: 30px; } }

.templateSearch #main-content .result-item .result-content {
  flex: 1; }

.templateSearch #main-content .result-item .result-content h4 {
  font-size: calc(var(--product-item-name) + .2rem);
  margin-bottom: 5px; }

.page-faq .section-header {
  text-align: center;
  margin-bottom: 23px; }

@media (min-width: 992px) {
  .page-faq .section-header {
    margin-bottom: 58px; } }

@media (min-width: 1440px) {
  .page-faq .section-header {
    margin-bottom: 80px; } }

.page-faq .section-header .section-header--heading {
  font-size: 36px;
  color: var(--main-color);
  line-height: 36px;
  margin: 0 0 15px; }

@media (min-width: 992px) {
  .page-faq .section-header .section-header--heading {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 10px; } }

.page-faq .section-header .section-header--subheading {
  color: var(--body-color);
  font-size: calc(var(--body-font-size) - 2px);
  line-height: 18px; }

@media (min-width: 992px) {
  .page-faq .section-header .section-header--subheading {
    font-size: var(--body-font-size);
    line-height: 21px; } }

@media (max-width: 991px) {
  .page-faq .section-md-left .mobi__hidden {
    display: none; } }

.page-faq .section-md-left .desk__hidden {
  margin-bottom: 25px; }

@media (min-width: 992px) {
  .page-faq .section-md-left .desk__hidden {
    display: none; } }

.page-faq .section-md-left select {
  display: block;
  width: 100%;
  border: 1px solid var(--body-border-color);
  border-radius: 8px;
  padding: 0 25px; }

.page-faq .section-md-left ul li {
  list-style: none;
  text-align: end;
  margin: 0 0 29px; }

@media (min-width: 992px) {
  .page-faq .section-md-left ul li {
    margin-bottom: 17px; } }

.page-faq .section-md-left ul li:last-child {
  margin: 0; }

.page-faq .section-md-left ul li a {
  font-size: 24px;
  line-height: 32.74px;
  color: #babcbf;
  position: relative; }

@media (min-width: 992px) {
  .page-faq .section-md-left ul li a {
    font-size: 16px;
    line-height: 21.82px; } }

.page-faq .section-md-left ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  background: #ef6d00;
  width: 0;
  height: 4px;
  transition: all .35s ease-in-out; }

@media (min-width: 1025px) {
  .page-faq .section-md-left ul li:hover a {
    color: #ef6d00; }
  .page-faq .section-md-left ul li:hover a:after {
    width: 100%; } }

.page-faq .section-md-left ul li.active a {
  color: #ef6d00; }

.page-faq .section-md-left ul li.active a:after {
  width: 100%; }

@media (min-width: 992px) {
  .page-faq .section-md-right .section__column {
    -webkit-padding-start: 50px;
    padding-inline-start: 50px; } }

@media (min-width: 1440px) {
  .page-faq .section-md-right .section__column {
    -webkit-padding-start: 60px;
    padding-inline-start: 60px; } }

.page-faq .section-md-right .section__column .faq__content-list[data-expand=false] {
  display: none; }

.page-faq .faq__block-item {
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 14px;
  margin-bottom: 15px; }

@media (min-width: 992px) {
  .page-faq .faq__block-item {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 17px;
    margin-bottom: 19px; } }

.page-faq .faq__block-item > p {
  margin: 0; }

.page-faq .faq__block-item > p > a {
  font-size: calc(var(--body-font-size) + 2px);
  display: flex;
  align-items: center;
  color: var(--body-color); }

@media (min-width: 992px) {
  .page-faq .faq__block-item > p > a {
    line-height: 24.55px; } }

.page-faq .faq__block-item > p > a .expand {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  position: relative;
  border: 1px solid #313439;
  -webkit-margin-end: 17px;
  margin-inline-end: 17px; }

.page-faq .faq__block-item > p > a .expand:before {
  content: "+";
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.page-faq .faq__block-item .faq__item-answer {
  border-top: 1px solid var(--body-border-color);
  margin-top: 12px;
  padding-top: 12px;
  line-height: 30.4px;
  font-size: var(--body-font-size);
  display: none; }

@media (min-width: 992px) {
  .page-faq .faq__block-item .faq__item-answer {
    line-height: 21px;
    margin-top: 11px;
    padding-top: 15px;
    -webkit-padding-start: 43px;
    padding-inline-start: 43px; } }

.page-faq .faq__block-item .faq__item-answer p {
  margin: 0 0 10px; }

.page-faq .faq__block-item .faq__item-answer p:last-child {
  margin: 0; }

.page-faq .faq__block-item.active > p > a .expand:before {
  content: "-"; }

.page-faq .faq__block-item.active .faq__item-answer {
  display: block; }
