@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes mmfadeIn {
  0% {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-top-bottom {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes animation-loading1 {
  0% {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@-webkit-keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@keyframes animation-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(14px); } }

@-webkit-keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@keyframes animation-show-loading2 {
  0% {
    transform: translate(0); }
  to {
    transform: translate(8px); } }

@-webkit-keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

@keyframes animation-loading3 {
  0% {
    transform: scale(1); }
  to {
    transform: scale(0); } }

body.modal-opened {
  overflow: hidden;
  height: 100%;
  max-height: 100vh; }

.modal-ui {
  display: none; }

.modal-ui.is-open {
  display: block; }

.modal-ui.is-open > div[data-dialog-close] {
  z-index: 99;
  visibility: visible;
  opacity: 1; }

.modal-ui header {
  position: static; }

.modal-ui header button[data-dialog-close] {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer; }

.modal-ui header button[data-dialog-close] svg path {
  fill: var(--body-link); }

.modal-ui > div[data-dialog-close] {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1), visibility 0.4s cubic-bezier(0, 0, 0.2, 1); }

.modal-ui > div:not([data-dialog-close]) {
  position: fixed;
  left: 50%;
  top: 50%;
  right: 0;
  z-index: 100;
  background: var(--popup-bg-color);
  padding: 40px 30px;
  width: calc(100% - 30px);
  max-width: 812px;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(-50%, -50.1%);
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1); }

@media (min-width: 992px) {
  .modal-ui > div:not([data-dialog-close]) {
    padding: 40px; } }

.modal-ui > div:not([data-dialog-close]) > div {
  width: 100%;
  color: var(--popup-text-color); }

.modal-ui button.btn-dialog--close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 45px;
  width: 45px;
  height: 45px;
  font-size: 30px;
  color: var(--popup-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: none; }

.modal-ui button.btn-dialog--close svg {
  pointer-events: none; }

.modal-ui button.btn-dialog--close svg path {
  color: var(--popup-text-color); }

#popupQuickview .product-media .media-thumbnail.tns-nav-active {
  border: 1px solid #ececec; }

@media (min-width: 768px) {
  #popupQuickview .product-media .product-thumbnail {
    width: 100px; } }

#popupQuickview .product-info .product-detail_short-description, #popupQuickview .product-info .product-review, #popupQuickview .product-info .product-title a {
  color: var(--popup-text-color); }

#popupQuickview .product-info .product-cart .qty-select {
  background: inherit;
  border: 1px solid #ececec; }

#popupQuickview .product-info .product-cart .qty-select input {
  background: inherit;
  color: var(--popup-text-color); }

#popupQuickview .product-info .product-form-cart .select-option label, #popupQuickview .product-info .product-form-cart .swatch-header p {
  color: var(--popup-text-color); }

#popupQuickview .product-info .product-form-cart .select-option select {
  background-color: inherit;
  border: 1px solid #ececec;
  color: var(--popup-text-color); }

#popupQuickview .product-info .product-form-cart .swatch-variants-wrapper .swatch-item .tooltip {
  background: inherit; }
