:root {
  --body-cl:#5b6c8f;
  --body-link-color:#103178;
  --heading-cl:#103178;
  --input-bg-cl:#f0f2f5;
  --border-radius:42px;
  --main-cl:#103178;
  --btn1-bg-color:#ff9923;
  --btn1-color:#fff;
  --btn1-border-color:#ff9923;
  --btn1-hover-bg-color:#103178;
  --btn1-hover-color:#fff;
  --btn1-hover-border-color:#103178;
}

@-webkit-keyframes hvr-icon-bob {
  0%, to {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hvr-icon-bob {
  0%, to {
    transform: translateY(-8px);
  }
  to {
    transform: translateY(0);
  }
}

#verifyCode {
  display: none;
}

#verifyCode:after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: .35s ease-in-out 0s;
}

#verifyCode:after, #verifyCode > div {
  background: #fff;
  position: fixed;
  right: 0;
}

#verifyCode > div {
  left: 50%;
  top: 50%;
  z-index: 995;
  width: calc(100% - 30px);
  max-width: 700px;
  max-height: 95vh;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(-50%, -50.1%);
  padding: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

#verifyCode .dialog-body {
  color: var(--body-cl);
}

#verifyCode .dialog-body > strong {
  padding: 20px;
  display: block;
}

@media (min-width: 992px) {
  #verifyCode .dialog-body > strong {
    padding: 20px 30px;
  }
}

#verifyCode .dialog-body > p {
  margin: 0;
  padding: 0 20px 30px;
}

@media (min-width: 992px) {
  #verifyCode .dialog-body > p {
    padding: 0 30px 30px;
  }
}

#verifyCode .line {
  width: 100%;
  height: 1px;
  display: block;
  background: #f0f2f5;
}

#verifyCode form {
  padding: 20px;
}

@media (min-width: 992px) {
  #verifyCode form {
    padding: 20px 30px;
  }
}

@media (min-width: 768px) {
  #verifyCode form .verify-form-group:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

#verifyCode form .verify-form-group > a {
  color: var(--body-link-color);
  margin-bottom: 15px;
  display: block;
  font-weight: 400;
}

@media (min-width: 768px) {
  #verifyCode form .verify-form-group > a {
    margin-bottom: 0;
  }
}

#verifyCode form.fail-to-verify input[type=text] {
  border: 1px solid red;
}

#verifyCode h1 {
  font-size: 30px;
  padding: 20px 20px 0;
  font-weight: 600;
  color: var(--heading-cl);
}

@media (min-width: 992px) {
  #verifyCode h1 {
    padding: 20px 30px 0;
  }
}

#verifyCode p {
  margin: 0 0 20px;
}

#verifyCode #verify-error {
  color: red;
}

#verifyCode input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  height: 46px;
  padding: 10px 25px;
  background: var(--input-bg-cl);
  border: 1px solid var(--input-bg-cl);
  outline: none;
  border-radius: var(--border-radius);
}

#verifyCode input[type=text]:focus {
  box-shadow: inset 0 0 0 2px var(--main-cl);
}

#verifyCode input[type=submit] {
  cursor: pointer;
  height: 46px;
  padding: 10px 25px;
  background: var(--btn1-bg-color);
  color: var(--btn1-color);
  border: 1px solid var(--btn1-border-color);
  font-weight: 600;
  width: 100%;
  outline: none;
  border-radius: var(--border-radius);
}

@media (min-width: 768px) {
  #verifyCode input[type=submit] {
    width: auto;
  }
}

#verifyCode input[type=submit]:focus {
  box-shadow: none;
}

@media (min-width: 1025px) {
  #verifyCode input[type=submit]:hover {
    background: var(--btn1-hover-bg-color);
    color: var(--btn1-hover-color);
    border-color: var(--btn1-hover-border-color);
  }
}

#verifyCode.is-open {
  display: block;
}

#verifyCode.is-open:after {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

a[data-dialog-trigger="#themeGuide"] {
  position: fixed;
  bottom: 15px;
  left: 20px;
  z-index: 99;
  padding: 0;
  -webkit-animation-name: hvr-icon-bob;
  animation-name: hvr-icon-bob;
  -webkit-animation-duration: .65s;
  animation-duration: .65s;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

#themeGuide a[data-dialog-close] {
  width: 30px;
  height: 30px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
}

#themeGuide a[data-dialog-close] svg path {
  fill: var(--main-cl);
}

#themeGuide > div {
  position: fixed;
  left: 20px;
  top: auto;
  right: 20px;
  bottom: 20px;
  transform: translate(0);
  max-width: 100%;
  background: #fff;
  width: auto;
  padding: 20px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 995;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
  #themeGuide > div {
    max-width: 400px;
    width: 100%;
    right: auto;
    left: 20px;
    padding: 30px;
  }
}

#themeGuide .guide-heading {
  color: var(--heading-cl);
  margin: 20px 0;
  font-weight: 600;
}

#themeGuide ul {
  margin: 0;
  padding: 0;
  list-style: disc inside none;
}

#themeGuide ul li {
  color: var(--body-link-color);
  line-height: 1.45;
}

#themeGuide ul li a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1025px) {
  #themeGuide ul li:hover > a {
    font-weight: 600;
  }
}
