<div class="container featureproduct_container">
    {%- for block in section.blocks -%}
      <div class="heading">
        <h1>{{block.settings.heading}}</h1>
      </div>
        {% render 'snippets-product-section', block: block, idSlide: false , idTag_product: {{section.id}} %}
    {%- endfor -%}
</div>


{% schema %}
{
    "name": "Featured products section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured products"
        }
    ],
    "blocks":[
        {
          "type": "tab_colection",
          "name": "Tab Colection",
          "settings": [
          {
            "type": "richtext",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "collection",
            "id": "list_collection",
            "label": "Collection Tab"
          },
          {
            "type": "text",
            "id": "add_cart",
            "label": "Add to Cart"
          }
          
          ]
        }
      
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Featured products section"
        }
    ]
}
{% endschema %}