  <!-- Swiper -->
<div class="container swiper-container">
   <div class="swiper-heading">
      <h1>Featured products</h1>
   </div>
   <div class="container list_item">
      <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
      {% assign collection = collections[block.settings.list_collection] %}
      {%- for product in collection.products -%} 
      {%- liquid
      assign variant_first =  product.variants | first
      assign first_available_variant  = product.first_available_variant | default: variant_first
      -%}
      <div class="swiper-slide item">
         <div class="swiper-slide__item--sale">
            <span>SALE</span>
         </div>
         
         <div class="swiper-slide__item--img">
            <img src="{{ product | img_url: '197x197' }}" />
         </div>
         <div class="swiper-slide__item--content">
            <div class="swiper-slide__item--title">
            <h3>{{product.title}}</h3>
         </div>
         <div class="swiper-slide__item--price">
            <div class="swiper-slide__item--price_new">
               <p>{{ first_available_variant.price | money }}</p>
            </div>
            <div class="swiper-slide__item--price_old">
               <del>{{ first_available_variant.compare_at_price | money }}</del>
            </div>
         </div>
         <div class="swiper-slide__item--iconstar">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
         </div>
         </div>
      </div>
      {%- endfor -%}
      {%- endfor -%}
   </div>
   </div>
   
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
</div>



  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script>
      var swiper = new Swiper(".container.list_item", {
        slidesPerView: 4,
        spaceBetween: 30,
        slidesPerGroup: 4,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      });
    </script>





{% schema %}
{
    "name": "Lates Products section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "lates products"
        }
    ],
    "blocks":[
        {
          "type": "Block_Collection",
          "name": "Collection",
          "settings": [
          {
            "type": "collection",
            "id": "list_collection",
            "label": "Collection"
          }
          ]
      }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Lates Products section"
        }
    ]
}
{% endschema %}