<div class="container poster__container">
    {%- for block in section.blocks -%}
    
    <img src="{{ block.settings.img_poster | img_url : 'master' }}" alt="" >
    <div class="poster__full">
        <div class="poster__icon-content">
            <i class="fas fa-bell"></i>
            <p>{{block.settings.content}}</p>
        </div>
        {%- if block.settings.button != blank -%}
            <div class="poster__btn">
                <a href="{{block.setting.url_button}}">
                    <button>{{block.settings.button}}</button>
                </a>       
            </div>
        {%- endif -%}    
    </div>
     {%- endfor -%}
</div>


{% schema %}
{
    "name": "Poster section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Poster",
        "info": "this is info"
        }
    ],
    "blocks":[
        {
            "type": "block_poster",
            "name": "Poster",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Image Poster",
                    "id": "img_poster"
                },
                {
                    "type": "richtext",
                    "id": "content",
                    "label": "content"
                },
                {
                    "type": "text",
                    "id": "button",
                    "label": "Button Text",
                    "default" : "More"
                },
                {   
                    "type": "text",
                    "id": "url_button",
                    "label": "button link"
                }

            ]
        }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Poster section"
        }
    ]
}
{% endschema %}