<div class="container saleoff_container">
    {%- for block in section.blocks -%}
        {% render 'snippets-saleoff', block: block %}
    {%- endfor -%}
</div>







{% schema %}
{
    "name": "Saleoff Two section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Saleoff"
        }
    ],
    "blocks":[
        {
            "type": "block_saleoff",
            "name": "Sale Off",
            "settings": [
            {
                "type": "image_picker",
                "label": "Image SaleOff",
                "id": "img_saleoff"
            },
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "button",
                "label": "Button Text",
                "default" : "More"
            },
            {
                "type": "text",
                "id": "tag",
                "label": "Tag"
            },
            {
                "type": "text",
                "id": "sale",
                "label": "sale"
            },
            {
                "type": "text",
                "id": "price_new",
                "label": "Price New"
            },
            {
                "type": "text",
                "id": "price_old",
                "label": "Price Old"
            },
            {
                "type": "color",
                "id": "color_text",
                "label": "Color text",
                "default": "#103178"
            } 

            ]
        }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Saleoff Two section"
        }
    ]
}
{% endschema %}