<div class="container saleoff_container">
    {%- for block in section.blocks -%}
        {% render 'snippets-saleoff', block: block %}
    {%- endfor -%}
</div>







{% schema %}
{
    "name": "Saleoff section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Sale Off"
        }
    ],
    "blocks":[
        {
          "type": "SaleOff",
          "name": "SaleOff",
          "settings": [
            {
                "type": "collection",
                "id": "list_collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "button",
                "label": "Button Text"
            },
            {
                "type": "checkbox",
                "id": "check_sale",
                "default": false,
                "label": "Sale Off"
            },
            {
                "type": "checkbox",
                "id": "check_price",
                "default": false,
                "label": "Price"
            },
            {
                "type": "color",
                "id": "color_text",
                "label": "Color text",
                "default": "#103178"
            }
            
            ]
      }
        
    ],
    "presets": [
        {
            "category": "Advanced layout",
            "name": "Saleoff section"
        }
    ]
}
{% endschema %}