<dialog id="popupNotify" class="modal-ui" aria-hidden="true">
  <div tabindex="-1" data-dialog-close></div>
  <div role="dialog" aria-modal="true">
      <button class="btn btn-dialog--close" type="button" data-dialog-close>&times;</button>
      <div class="notify-container">
      	<p class="notify-content"></p>
      </div>
  </div>
</dialog>
{% schema %}{"name": "Popup section","tag": "section","settings": [],"blocks": []}{% endschema %}