.slideshow-container {
    font-family: 'Oswald', sans-serif;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 50px;
    .my-slider{
        .item__slideshow{
            position: relative;
            .caption__slideshow{
                width: 437px;
                max-height: 250px;
                position: absolute;
                top: 17%;
                left: 10%;
                .heading__slide{
                    color: var(--text-color);    
                }
                .content__slide{
                    color: var(--text-color);
                }
                .price__slide{
                    display: inline-flex;
                    .new__price{
                        font-size: 50px;
                        color: var(--icon-color);
                        margin-top: 15px;
                    }
                    .old__price{
                        color: #5b6c8f;
                        text-decoration: line-through;
                        font-size: 25px;
                        margin-left: 14px;
                    }
                }
                .btn__slide{
                    background-color: var(--icon-color);
                    width: 120px;
                    height: 40px;
                    border-radius: 30px;
                    margin-top: 15px;
                    a{
                        button{
                            color: var(--white-color);
                            margin: 12px 29px;
                        }
                    }         
                }
            }
            .sale__slide{
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: var(--icon-color);
                color: var(--white-color);
                top: 20%;
                right: 50%;
                padding: auto;
                padding: 35px 10px;
                font-size: 30px;
                font-weight: bold;
            }
        }   
    }
    .controls{
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 100%;
        justify-content: space-between;
        .prev, .next{
          list-style: none;
          width: 40px;
          height: 40px;
          background-color: var(--text-color);
          border-radius:50%; 
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px; 
          color: var(--white-color);
          &:hover{
            background-color: #10317887;
          }    
        }
      }
  }


  @media only screen and (max-width: 739px){
    .slideshow-container{
        .controls{
            top: 40%;
            .prev, .next{
              width: 20px;
              height: 20px;   
              font-size: 15px;      
            }
          }
    }
  }

 




  








