.saleoff_container{
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:30px;
    .saleoff__item{
        position: relative;
        .saleoff__item-img {
            height: 300px;
            img{
                height: 300px;
            }
        }
        // position: relative;
        .saleoff__item-caption{
            width: 100%;
            position: absolute;
            top: 10%;
            left: 10%;
            height: 250px;

            .saleoff__item-caption_text{
                width: 90%;
                h1{
                    font-size: 30px;
                    font-weight: bold;
                    color: var(--text-color);
                    bottom: 10%;
                    left: 10%;
                }
            }
        }
        .saleoff__item-btn{
            width: 80px;
            height: 40px;
            background-color: var(--icon-color);
            border-radius: 30px;
            padding: 10px 24px;
            bottom: 30px;
            left: 40px;
            position: absolute;
        }
    }
}




