.saleoff_container{
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:30px;
    .saleoff__item{
        position: relative;
        .saleoff__item-img {
            height: 300px;
            img{
                height: 300px;
            }
        }
        // position: relative;
        .saleoff__item-caption{
            position: absolute;
            top: 20%;
            left: 10%;

            .saleoff__item-caption_text{
                font-size: 30px;
                color: var(--text-color);
            }
            .saleoff__item-caption-btn{
                width: 80px;
                height: 40px;
                background-color: var(--icon-color);
                border-radius: 30px;
                padding: 10px 24px;
            }
        }
    }
}




