.saleoff_container{
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:30px;
    .saleoff__item{
        position: relative;
        // position: relative;
        .saleoff__item-caption{
            width: 60%;
            position: absolute;
            top: 10%;
            left: 10%;
            .saleoff__item-caption_new{
                height: 20px;
                width: 50px;
                border-radius:30px; 
                background-color: var(--green-color);
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    color: var(--white-color);
                }
            }
            .saleoff__item-caption_text{
                width: 100%;
                margin-top: 10px;
                h1{
                    font-size: 25px;
                    font-weight: bold;
                    // color: var(--text-color);
                    bottom: 10%;
                    left: 10%;
                }
            }
            .saleoff__item-caption_content{
                display: flex;
                .saleoff__item-caption_sale{
                    margin-top: 10px;
                    h1{
                        color: var(--icon-color);
                        font-size: 40px;
                        font-weight: bold;
                    }
                }
                .saleoff__item-caption_price{
                    margin-top: 10px;
                    .price_new{
                        h1{
                            color: #FFC800;
                            font-size: 40px;
                            font-weight: bold;                           
                        }
                    }
                    .price_old{
                        margin-top: 10px;
                        del{
                            color: var(--white-color);
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .saleoff__item-btn{
            max-width: 120px;
            height: 40px;
            background-color: var(--text-color);
            border-radius: 30px;
            padding: 10px 24px;
            bottom: 20px;
            left: 40px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            color: var(--white-color);
            button{
                color: var(--white-color);
                &:hover{
                    cursor: pointer;
                }
            }
            
        }
    }
}


@media only screen and (max-width: 739px){
    .saleoff_container{
        display: flex;
        flex-direction: column;
        gap:10px;
        .saleoff__item{
            height: 150px;
            .saleoff__item-img{
                height: 100%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .saleoff__item-caption{
                .saleoff__item-caption_new{

                }
                .saleoff__item-caption_text{
                    h1{
                        font-size: 15px;
                        p{
                            margin: 8px auto;
                        }
                    }
                }
                .saleoff__item-caption_content{
                    .saleoff__item-caption_sale{
                        margin-top: 15px;
                        h1{
                            font-size: 30px;
                        }
                    }
                    .saleoff__item-caption_price{
                        margin-top: 0;
                        .price_new{
                            h1{
                                font-size: 30px;
                            }
                        }
                        .price_old{
                            margin-top: 0;
                            del{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .saleoff__item-btn{
                bottom: 20px;
                height: 25px;
                padding: 1px 14px;
            }
        }
    }
}


@media only screen and (min-width: 740px) and (max-width: 1023px){
    .saleoff_container{
        .saleoff__item{
            .saleoff__item-caption{
                width: 80%;
                top: 5%;
                left: 5%;
                .saleoff__item-caption_new{

                }
                .saleoff__item-caption_text{
                    width: 100%;
                    h1{
                        font-size: 20px;
                    }
                }
                .saleoff__item-caption_content{
                    .saleoff__item-caption_sale{
                        margin-top: 15px;
                        h1{
                            font-size: 35px;
                        }
                    }
                    .saleoff__item-caption_price{
                        margin-top: 3px;
                        .price_new{
                            h1{
                                font-size: 35px;
                            }
                        }
                        .price_old{
                            margin-top: 0;
                            del{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .saleoff__item-btn{
                position: absolute;
                height: 30px;
                bottom: 15px;
                left: 30px;      
            }
        }
    }
}