.categories_container{
    font-family: 'Oswald', sans-serif;

        .categories_top-title{
            h1{
                color: var(--text-color);
                text-align: center;
                margin: 55px auto 20px auto;
                font-weight: bold;
                font-size: 30px;
            }
        }
        .categories_top-list_item{
            width: 100%;
            .categories_top-item{
                position: relative;
                display: flex;
                justify-content: center;
                .categories_top-item_img{
                    img{
                        height: 300px;
                    }
                }
                .categories_top-item_caption{
                    position: absolute;
                    top: 5%;
                    left: 15%;
                    width: 60%;
                    .categories_top-item--heading{
                        h1{
                            color: var(--text-color);
                            font-size: 30px;
                            font-weight: bold;
                        }
                    }
                    .categories_top-item--btn{
                        cursor: pointer;
                        button{
                            width: 80px;
                            height: 30px;
                            color: var(--text-color);
                            border-radius: 30px;
                            background-color: var(--white-color);
                            cursor: pointer;
                        }
                    }
                }
                
            }
        }
        
    
}

@media only screen and (max-width: 739px){
    #tns2-iw {
        margin: 0;
    }
    .categories_container{
        .categories_top-title{
            h1{
                font-size: 20px;
            }
        }
        .categories_top-list_item{           
            .categories_top-item{
                height: 200px;
                .categories_top-item_img{
                    height: 100%;
                    img{
                        height: 100%;
                    }
                }
                .categories_top-item_caption{
                    .categories_top-item--heading{
                        h1{
                            font-size: 20px;
                        }
                    }
                }
            }
            
        }
    }
}




