.menu__optionlist{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15% ;
    gap: 30px;
    padding-right: 0;
    padding-left: 0;
    .menu__optionlist-item{
        text-align: left;
        .menu__optionlist-item--heading{
            h1{
                font-size: 25px;
                font-weight: bold;
                padding: 0;
                color: var(--text-color);
                padding-bottom: 15px;
            }
        }
         
        .menu__optionlist-item--listmenu {
            ul{
                list-style: none;
                padding: 0;
                a {
                    text-decoration: none;
                    color: var(--text-color);
                    line-height: 30px;
                }
            }
        }
        
    }
    
}