.slider-container {
      font-family: 'Oswald', sans-serif;
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;
      position: relative;
    .slider-heading{
      margin-bottom: 30px;
      h1{
        font-size: 30px;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
      }
    }
    .controls{
      display: flex;
      position: absolute;
      top: 50%;
      z-index: 10;
      width: 100%;
      justify-content: space-between;
      .prev, .next{
        list-style: none;
        width: 40px;
        height: 40px;
        background-color: var(--text-color);
        border-radius:50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px; 
        color: var(--white-color);
        &:hover{
          background-color: #10317887;
        }    
      }
    }
    
    .my-slider{

        .slider-item {
          position: relative;
          .slider-item--sale{
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 50px;
            z-index: 1;
            border-radius: 30px;
            background-color: var(--icon-color);
            span{
              color: var(--white-color);
              font-size: 13px;
              display: flex;
              justify-content: center;
              align-items: center;
              }
            }              
        }
      }
      
    }
  

    @media only screen and (max-width: 739px){
      .slider-container{
        .slider-heading{
          h1{
            font-size: 20px;
          }
        }
      }
    }
  