.slider-container {
      width: 100%;
      margin-bottom: 50px;
      margin-top: 50px;
      position: relative;
    .slider-heading{
      margin-bottom: 30px;
      h1{
        font-size: 30px;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
      }
    }
    .controls{
      display: flex;
      position: absolute;
      top: 50%;
      z-index: 10;
      width: 100%;
      justify-content: space-between;
      .prev, .next{
        list-style: none;
        width: 40px;
        height: 40px;
        background-color: var(--text-color);
        border-radius:50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px; 
        color: var(--white-color);
        &:hover{
          background-color: #10317887;
        }    
      }
    }
    
    .my-slider{

        .slider-item {
          height: 345px;
          width: fit-content;
          font-size: 18px;
          background: #fff;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .slider-item--sale{
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 50px;
            z-index: 1;
            border-radius: 30px;
            background-color: var(--icon-color);
            span{
              color: var(--white-color);
              font-size: 13px;
              display: flex;
              justify-content: center;
              align-items: center;
              }
            }
          
      
          .slider-item--img{
            height: 197px;      
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .slider-item--content{
            .slider-item--title{
              margin-top: 10px;
              h3{
                line-height: 20px;
                font-size: 20px;
                color: var(--text-color);
              }
            }
            .slider-item--price{
              margin-top: 10px;
              display: flex;
              height: 30px;
              .slider-item--price_new{
                display: flex;
                height: 30px;
                align-items: center;
                p{
                  font-size: 20px;
                  color: var(--icon-color);
                  margin-right: 10px;
                  line-height: 30px;
                }
              }
              .slider-item--price_old{
                display: flex;
                height: 30px;
                align-items: center;
                p{
                  font-size: 17px;
                  line-height: 30px;
                }
              }
            }
            .slider-item--iconstar{
              margin-top: 10px;
              i{
                color: var(--icon-color);
              }
            }
          }
                  
        }
      }
      
    }
  


  