.slider-container {
  font-family: 'Oswald', sans-serif;
  .bestdeal__top {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .bestdeal-heading {
      height: 63px;
      display: flex;
      align-items: center;
      h1 {
        font-size: 30px;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
      }
    }
    #countdown {
      height: 63px;
      width: 290px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      .br {
        height: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 7px;
      }
      .days,
      .hours,
      .minutes,
      .seconds {
        height: 100%;
        margin-right: 7px;
        margin-left: 7px;
        span {
          line-height: 60px;
          background-color: var(--icon-color);
          color: var(--white-color);
          font-weight: bold;
        }
      }
    }
  }
    
    .my-slider {
      .slider-item {
        
        .bestdeal__list-item--sale {
          position: absolute;
          top: 0;
          left: 0;
          height: 40px;
          width: 40px;
          z-index: 1;
          border-radius: 50%;
          background-color: var(--text-color);
          span {
            color: var(--white-color);
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            transform: translateY(50%);
            font-weight: bold;
          }
        }    
      }
    }

}

#tns1-iw{
  margin: 0;
}