.bestdeal-container {
  width: 100%;
  margin-top: 50px;
  .bestdeal__top {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .bestdeal-heading {
      height: 63px;
      display: flex;
      align-items: center;
      h1 {
        font-size: 30px;
        color: var(--text-color);
        font-weight: bold;
        text-align: center;
      }
    }
    #countdown {
      height: 63px;
      width: 290px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      .br {
        height: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 7px;
      }
      .days,
      .hours,
      .minutes,
      .seconds {
        height: 100%;
        margin-right: 7px;
        margin-left: 7px;
        span {
          line-height: 60px;
          background-color: var(--icon-color);
          color: var(--white-color);
          font-weight: bold;
        }
      }
    }
  }
  .container-list {
    overflow: hidden;
    .bestdeal__list {
      // display: grid;
      // grid-template-columns: auto auto auto auto auto;
      // gap: 25px;
      .bestdeal__list-item {
        height: 345px;
        // width: 197px;
        width: fit-content;
        font-size: 18px;
        background: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .bestdeal__list-item--sale {
          position: absolute;
          top: 0;
          left: 0;
          height: 40px;
          width: 40px;
          z-index: 1;
          border-radius: 50%;
          background-color: var(--text-color);
          span {
            color: var(--white-color);
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            transform: translateY(50%);
            font-weight: bold;
          }
        }

        .bestdeal__list-item--img {
          // position: absolute;
          // top: 0 !important;
          // left: 0;
          height: 197px;
          
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .bestdeal__list-item--content {
          .bestdeal__list-item--title {
            // height: 20px;
            margin-top: 30px;
            h3 {
              line-height: 20px;
              font-size: 20px;
              color: var(--text-color);
            }
          }
          .bestdeal__list-item--price {
            display: flex;
            margin-top: 30px;
            height: 30px;
            .bestdeal__list-item--price_new {
              display: flex;
              height: 30px;
              align-items: center;
              p {
                font-size: 20px;
                color: var(--icon-color);
                margin-right: 10px;
                line-height: 30px;
              }
            }
            .bestdeal__list-item--price_old {
              display: flex;
              height: 30px;
              align-items: center;
              p {
                font-size: 17px;
                line-height: 30px;
              }
            }
          }
          .bestdeal__list-itemiconstar {
            margin-top: 10px;
            i {
            }
          }
        }
      }
    }
  }
}
