.heading{
  margin-bottom: 30px;
    h1{
      font-size: 30px;
      color: var(--text-color);
      font-weight: bold;
      text-align: center;
    }
  }

  
.item-list{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 25px;
        .item {
              background-color: #F0F2F5;
              width: fit-content;
              font-size: 18px;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;  
              .item--sale{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 50px;
                    z-index: 1;
                    border-radius: 30px;
                    background-color: var(--icon-color);
                    span{
                      color: var(--white-color);
                      font-size: 13px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      }
              }
              .item--img{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 0.3s;
              }
              
              .addCart{
                display: flex;
                width: 60%;
                height: 35px;
                display: flex;
                background: #FF9923;
                bottom: 0;
                border-radius: 30px;
                justify-content: center;
                align-content: center;
                line-height: 35px;
                color: var(--white-color);
                cursor: pointer;
                opacity: 1;
                margin: auto;
                &:hover{
                  opacity: 0.7;
                }
              }   
              
              .item--content{
                      .item--title{
                          margin-top: 10px;
                          h3{
                            line-height: 20px;
                            font-size: 20px;
                            color: var(--text-color);
                          }
                      }
                      .item--price{
                            display: flex;
                            margin-top: 10px;
                            height: 30px;
                            .item--price_new{
                                display: flex;
                                height: 30px;
                                align-items: center;
                                p{
                                  font-size: 20px;
                                  color: var(--icon-color);
                                  margin-right: 10px;
                                  line-height: 30px;
                                }
                            }
                            .item--price_old{
                                display: flex;
                                height: 30px;
                                align-items: center;
                                p{
                                  font-size: 17px;
                                  line-height: 30px;
                                }
                            }
                      }
                      .item--iconstar{
                            margin-top: 10px;
                            i{
                              color: var(--icon-color);
                            }
                      }
              }      
        }
    }
  
@media only screen and (max-width: 739px){
      .heading{
          h1{
            font-size: 20px;
          }
        }
      .item-list{
        grid-template-columns: auto auto;
        gap: 15px;
        .item{
          .item--content{
            .item--title{
              h3{
                line-height: 20px;
                font-size: 20px;
                color: var(--text-color);
              }
            }
            
          }
        }
      }
    }


