.featureproduct_container{
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 739px){
    .featureproduct_container{
        .item-list{
            display: grid;
            grid-template-columns: auto auto;
        }     
    }    
}


@media only screen and (min-width: 740px) and (max-width: 1023px){
    .featureproduct_container{
        .item-list{
            display: grid;
            grid-template-columns: auto auto auto;
        }     
    } 
  }