.popular_categori-container{
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    margin: 50px auto;
    .popular_categori__heading{
        margin-bottom: 30px;
        h1{
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
    }
    .popular_categori__listitem{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        flex-wrap: wrap;
        column-gap: 30px; 
        .popular_categori--item{
            margin: auto;
            .popular_categori--item-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F0F2F5;
                width: 90px;
                height: 90px;
                border-radius: 50%; 
                a{
                    i{
                        font-size: 35px;
                    }
                }
            }
            .popular_categori--item-title{
                p{
                    text-align: center;
                }   
            }
        }   
    }
    .popular_categori__showall{
        a{
            p{
                text-align: center;
            }
        }       
    }
}



@media only screen and (max-width: 739px){
    .popular_categori-container{
        .popular_categori__heading{
            h1{
                font-size: 20px;
            }
        }
        .popular_categori__listitem{
            grid-template-columns: auto auto auto;
            flex-wrap: wrap;
            .popular_categori--item{
                .popular_categori--item-icon{
                    width: 60px;
                    height: 60px;
                }
            }
          }
    }
  }


  @media only screen and (min-width: 740px) and (max-width: 1023px){
    .popular_categori-container{
        .popular_categori__heading{
            h1{
                font-size: 20px;
            }
        }
        .popular_categori__listitem{
            grid-template-columns: auto auto auto;
            flex-wrap: wrap;
            .popular_categori--item{
                .popular_categori--item-icon{
                    width: 80px;
                    height: 80px;
                }
            }
          }
    }
}