// -------css product---------

.slider-item--img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

.addCart{
    display: flex;
    width: 60%;
    height: 35px;
    display: flex;
    background: #FF9923;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    line-height: 35px;
    color: var(--white-color);
    cursor: pointer;
    opacity: 1;
    margin: auto;
    &:hover{
      opacity: 0.7;
    }
}   


.slider-item--content{
    .slider-item--title{
      margin-top: 10px;
      h3{
        line-height: 20px;
        font-size: 20px;
        color: var(--text-color);
      }
    }
    .slider-item--price{
      margin-top: 10px;
      display: flex;
      height: 30px;
      .slider-item--price_new{
        display: flex;
        height: 30px;
        align-items: center;
        p{
          font-size: 20px;
          color: var(--icon-color);
          margin-right: 10px;
          line-height: 30px;
        }
      }
      .slider-item--price_old{
        display: flex;
        height: 30px;
        align-items: center;
        p{
          font-size: 17px;
          line-height: 30px;
        }
      }
    }
    .slider-item--iconstar{
      margin-top: 10px;
      i{
        color: var(--icon-color);
      }
    }
}


//  ------css Icon start ------
.slider-item--iconstar{
    margin-top: 10px;
    i{
      color: var(--icon-color);
    }
  }