.heading__top{
    p{
        font-size: 15px;
        margin-top: 0;
    }
}
.title{
    h1{
        color: var(--text-color);
        font-size: 30px;
    }
}
.icon__star{
    margin-top: 15px;
    i{
        color: var(--icon-color);
        margin-right: 10px;
    }
}
.info{
    color: var(--text-color);
    .info__item{
        display: flex;
        align-items: center;
        i{
            margin-right: 15px;
            color: green;
        }
    }
}
.method{
    color: var(--text-color);
    .method__item{
        display: flex;
        align-items: center;
        font-weight: bold;
        i{
            margin-right: 15px;
        }
    }
}
.tag{
    display: flex;
    p{
        margin-right: 15px;
        &:first-child{
            font-weight: bold;
            color: var(--text-color);
        }
    }

}
.sku{
    display: flex;
    p{
        margin-right: 15px;
        &:first-child{
            font-weight: bold;
            color: var(--text-color);
        }
    }
}
.list-inline{
    .social-item{
        margin-right: 15px;
        background-color: #0ff;
        font-size: 15px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            color: var(--white-color);
        }   
    }
}




.product-info{
    background-color: #F0F2F5;
// product-detail-snippet stock 
    .product-stock{
        margin-top: 30px;
        background-color: #12A05C;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        width: 60%;
        p{
            color: var(--white-color);
            font-size: 20px;
            padding: 10px 20px;
            font-weight: bold;
        }
    }
    .product-price{
        display: flex;
        margin-top: 30px;
        height: 30px;
        .product-price_new{
            display: flex;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
            height: 30px;
            align-items: center;
            p{
                font-size: 30px;
                color: var(--icon-color);
                margin-right: 10px;
                line-height: 30px;
                font-weight: bold;
            }
        }
        .product-price_old{
            display: flex;
            height: 30px;
            align-items: center;
            del{
                font-size: 18px;
                color: #9BABCD;
            }
        }
    }
    .product-form-cart{
        .product-form{
            .product-cart{
                .product-cart-inner{
                    display: block;
                    .product-cart-qty{     
                        .qty-select{
                            width: 80%;
                            background-color: white;
                            border-radius: 30px;
                            position: relative;
                            height: 50px;
                            margin: auto;
                            .qty-group{
                                width: 100%;
                                input{
                                    max-width: 50px;
                                }
                                input[type="number"] {
                                    padding: 10px 15px;
                                    font-size: 20px;
                                }
                                .qty-plus{
                                    position: absolute;
                                    right: 0;
                                    font-size: 25px;
                                }
                                .qty-minus{
                                    position: absolute;
                                    left: 0;
                                    font-size: 25px;
                                }
                            }
                        }
                        
                    }
                    .product-cart_button{
                        width: 80%;
                        margin: 15px auto;
                        button{
                            border-radius: 30px;
                        }
                    }    
                }
                
            }
        }
    }
}


// img slide
.product-media{
    display: block;
    .product-thumbnail{
        width: 100%;
        #tns2-mw{
            height: auto !important;
        }
        .product-gallery--thumbnail{
            display: flex;
            .media-thumbnail{
                width: 80px;
                height: 80px;
                .image__style{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    } 
    // .tns-nav-active{
    //    border: 2px solid black !important;     
    // } 
}
