
.header__top-app{
    background-color: #F0F2F5;
}
.header__top{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #F0F2F5;
    justify-content: center;
    .header__top-text{
        height: 30px;
        p{
            font-size: 15px;
            color: #FFC800;
            line-height: 30px;
            margin: 0;
        }
    }
    .header__top-listmenu{
        display: inline-flex;
        flex: 1;
        transform: translateX(90px);
        height: 30px;
        ul{
                display: flex;
                list-style: none;
                a{
                    text-decoration: none;
                    padding-right: 30px;
                    border-right: 1px solid black;
                    margin-right: 30px;
                    line-height: 30px
                    }   
            } 
    }
    .header__top-listicon{
        border-right: 1px solid #000;
        margin-right: 35px;
        display: inline-flex;
        padding-right: 15px;
        height: 30px;
        align-items: center;
        a{
            margin-right: 20px;
        }
    }
    .header__nav{
        display: flex;
        .header__nav-item{
            align-items: center;
            a:first-child{
                margin-right: 10px;
                line-height: 30px;
            }
        }
        .header__nav-item:first-child{
            display: inline-flex;
            margin-right: 15px;
            padding-right: 20px;
            border-right: 1px solid black;
        }
        .header__nav-item:last-child{
            display: inline-flex;
            margin-right: 0;
        }
    
    } 
        
        
    }
    
    






.header__center{
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo img{
        width: 145px;
        height: 45px;
    }
    .header__search{
        display: flex;
        position: relative;
        .header__search-product input{
            height: 46px;
            width: 400px;
            padding-left: 10px;
            border-radius: 20px;
            background-color: #F0F2F5;
        }
        .header__search-icon i{
            font-size: 25px;
            position: absolute;
            top: 12px;
            right: 17px;
            color: var(--text-color);
        }
    }
    .header__nav{
        display: flex;
        margin-right: 10px;
        .header__nav-item{
            margin-right: 30px;
            display: flex;
            a {
                font-size: 17px;
                padding-right: 10px;
            }
        }
    }
    .header__icon-list{
        display: flex;
        .header__icon{
            margin-right: 30px;
            i {
                font-size: 25px;
                color:  var(--icon-color);
            }     
        }
        .card{
            position: relative;
            margin-right: 0;
        }
        .card::before{
            content: "0";
            text-align: center;
            color: var(--white-color);
            width: 20px;
            height: 20px;
            position: absolute;
            background-color: var(--text-color);
            border-radius: 50%;
            top: -7px;
            left: 14px;
        }
        
    }
}
.header__hr{
    border-top: 1px solid var(--text-color);
}

.header__bottom{
    position: relative;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__bottom-icon{
        color: var(--text-color);
            .fa-bars {
                font-size: 25px;
            }
    }
    .header__bottom-list{
        flex: 1;
        ul{
            list-style: none;
            display: inline-flex;
            margin-left: 15px;
            a{
                text-decoration: none;
                margin-right: 30px;
                color: var(--text-color);
            }
        }
        .header__bottom-contact_blog{
            display: inline-flex;
            a:first-child{
                padding-right: 30px;
            }
        }
    }
}


