<div class="heading__top">
    <p>Thermometer Brand</p>
</div>
<div class="title">
    <h1>Digital Thermometer X30-Pro</h1>
</div>
<div class="icon__star">
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
</div>
<div class="info">
    <div class="info__item">
        <i class="fas fa-check"></i>
        <p>Study history up to 30 days</p>
    </div>
    <div class="info__item">
        <i class="fas fa-check"></i>
        <p>Study history up to 30 days</p>
    </div>
    <div class="info__item">
        <i class="fas fa-check"></i>
        <p>Study history up to 30 days</p>
    </div>
</div>
<div class="method">
    <div class="method__item">
        <i class="fas fa-truck"></i>
        <p>100% Money back</p>
    </div>
    <div class="method__item">
        <i class="fas fa-truck"></i>
        <p>100% Money back</p>
    </div>
    <div class="method__item">
        <i class="fas fa-truck"></i>
        <p>100% Money back</p>
    </div>
</div>
<div class="tag">
    <p>Tags</p>
    <p>Thermometer</p>
    <p>Health</p>
</div>
<div class="sku">
    <p>SKU</p>
    <p>8DJ21A</p>
</div>
<div class="icon__socialNetwork">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-facebook-f"></i>
</div>