<div class="header__search">
    <div class="header__search-product">
      <input type="text" placeholder="Search for products...">
    </div>
    <div class="header__search-icon">
        <a href="">
          <i class="fas fa-search"></i>
        </a>
    </div>
  </div>