<div class="program__item">
        <div class="program__item--icon">
            <i class="{{block.settings.icon}}"></i>
        </div>
        <div class="program__item--text">
            {{block.settings.text}}
        </div>
    </div>