<div class="custom-model-main" id="custom-model-main">
    <div class="custom-model-inner">        
        <div class="close-btn">x</div>
        <div class="custom-model-wrap">
            <div class="pop-up-top">
                <i class="fas fa-check"></i>
                <h1>ADDED TO CART SUCCESFULLY</h1>
            </div>
            <div class="pop-up-bottom">
                <div class="pop-up-left">
                    <div class="pop-up-item">
                        <div class="pop-up-img">
                            <img data-popup-product-image src="" alt="">
                        </div>
                        <div class="pop-up-content">
                            <div class="pop-up-title">
                                <h3 data-popup-title></h3>
                            </div>
                            <div class="pop-up-price">
                                <div class="pop-up-price__new">
                                    <p data-popup-price__new></p>
                                </div>
                                <div class="pop-up-price__old">
                                    <del data-popup-price__old></del>
                                </div>
                            </div>
                            <div class="pop-up-icon__star">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop-up-right">
                    <div class="pop-up-btn">
                        <button class="continue">Continue shopping</button>
                        <a href="/cart">
                            <button class="view">View cart</button>
                        </a>
                        <a href="/checkout">
                            <button class="checkout">Proceed to checkout</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>  
    <div class="bg-overlay"></div>
</div>