<form class="search" action="/search">
  <div class="header__search">
    <div class="header__search-product">
      <input
        type="text"
        placeholder="Search for products..."
        name="q"
        value="{{ search.terms | escape }}"
      /> 
    </div>
    <button class="header__search-icon type="submit">
      <i class="fas fa-search"></i>
    </button>       
  </div>
</form>