<div class="container categories_container">
    <div class="categories_container-item">
      <div class="categories_container-heading">
        <h1>Wound Care</h1>
      </div>
      <div class="categories_container-select">
        <ul>
          <a href="">
            <li>Accessories</li>
          </a>
          <a href="">
            <li>Accessories</li>
          </a>
        </ul>
      </div>
    </div>
</div>